* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px;
}

@media (max-width: 1200px) {
    .container {
        width: 830px;
    }
}

@media (max-width: 829px) {
    .container {
        max-width: 600px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}
 
.main {
    width: 870px;
}

.sidebar {
    min-width: 200px;
    width: 270px;
}

@media (max-width: 829px) {
    .sidebar {
        /* display: none; */
        margin-left: 0 !important;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
        overflow-y: scroll;
        transform: translateX(-150%);
    }
}

.main + .sidebar {
    margin-left: 30px;
}

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 599px) {
    .cards-holder {
        flex-direction: column;
        align-items: center;
    }
    
}

.cards-holder > .card-link {
    margin-bottom: 30px;
}

/* card*/

a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
a.card-link:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}

.card {
    position: relative;
    width: 270px;
    background-color: white;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;

}
.card__badges > * + * {
   margin-left: 10px;
}
.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #e0dfdac4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.card__badge--class {
    background: #FFCF26;
}

.card__bage--credit {
    background: #11BE75;
    color: #FFFFFF;
}


.card__content {
    padding: 16px 15px 20px;
}

.card__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}

.card__term {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
}
.card__metro {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
} 

.card__metro::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('/img/icons/Vector.svg');
    background-repeat: no-repeat;
    background-size: initial;
}
.card__addres {
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}

/* Button more */
.btn-more {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
 

    background-color: #E5E5E5;
    border-radius: 4px;
    border: none;

    font-size: 18px;
    line-height: 21px;
    color: #4290c9;

    cursor: pointer;
    transition: background-color 0.2s ease-in;

}
.btn-more:hover {
    background-color: hsl(0, 5%, 82%);
}
.btn-more img {
    /* display: inline-block; */
    margin-right: 10px;
    /* vertical-align: bottom; */
}

/* Sidebar */

.widget + .widget {
    margin-top: 33px;
}

.widget--top-30 {
    margin-top: 28px !important;
}


.widget__title{
    position: relative;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}
.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    /* background-color: red; */
    position: absolute;
    right: 1px;
    top: -1px;
    background-image: url('./../img/icons/chevron-up.svg');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

}
/* .widget__body{

} */
/* Locations buttons group */

/* .location {
} */
.location__row {
    display: flex;
}

.location__row:first-child{
    overflow: hidden;
    border-radius: 4px 4px 0 0 ;
    border: 1px solid #D6D6D6;
}
.location__row:last-child{
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #D6D6D6;
    border-top: none;
} 

.location__btn {
    flex-grow: 1;

    font-family: inherit;
    height: 48px;
    padding: 0 15px;
    
    background-color: transparent;
    border: none;


    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    color: #3C3C3C;

    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.location__btn:hover{
    background-color: #faf1d2;
}

.location__checkbox:checked + .location__btn {
    background-color: #FFCF26;
}

.location__checkbox:checked + .location__btn:hover {
    background-color: #ffd0265d;
}

.location__checkbox {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

/* Radio */


.radio {
    display: block;
    cursor: pointer;
}
.radio + .radio {
    margin-top: 15px;
}
.radio__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: bottom;
    background-color:  #FFFFFF;
    border: 1px solid #777777;  
    border-radius: 50%;


}

.radio__real:checked + .radio__fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #3C3C3C;
}
.radio__real:checked + .radio__fake{
    background-color:  #FFE074;
}

.radio__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.radio__real:checked ~ .radio__title {
    font-weight: 500;
}

/* Checkbox */

.checkbox {
    display: block;
    cursor: pointer;
}
.checkbox + .checkbox {
    margin-top: 15px;
}
.checkbox__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;

 }
.checkbox__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: bottom;
    background-color:  transparent;
    border: 1px solid #777777;  
    border-radius: 2px;
    }

.checkbox__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}
.checkbox__real:checked ~ .checkbox__title {
    font-weight: 500;
}

.checkbox__real:checked + .checkbox__fake {
    background-color:  #FFE074;
}

.checkbox__real:checked + .checkbox__fake::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    transform: translate(-50%, -50%);
    background-image: url('./../img/icons/check.svg');
    background-size: initial;
    background-position: center;
}

/* hiden-elements widget */

.widget__hidden {
    display: none;
}

.widget__show-hidden {
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    line-height: 1.19;
    color: #4290C9;
    transition: color 0.2s ease-in;
    margin-top: 15px;
}

.widget__show-hidden:hover{
    color: #024d83;
    text-decoration: underline;
} 

/* toggle */


.toggle {
    cursor: pointer;
}
.toggle__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}
.toggle__fake {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    background: #C4C4C4;
    border-radius: 10px;
    vertical-align: bottom;
    margin-right: 7px;
}

.toggle__fake::before{
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 16px;
    height: 16px;
    background: #3C3C3C;
    border-radius: 50%;
    transition: all 0.2s ease-in
}

.toggle__real:checked + .toggle__fake {
    background: #FFE074;
}

.toggle__real:checked + .toggle__fake::before{
    left: 19px;
    right: 2px;
}

.toggle__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #000000;
}

.toggle__real:checked ~ .toggle__title {
    font-weight: 500;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    width: 100%;
    height: 50px;

    border: 1px solid #D6D6D6;

    border-radius: 4px;
    background-color: transparent;

    font-family: inherit;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #3C3C3C;
    transition: background-color 0.2s ease-in;
}

.form-btn:hover {
    background-color: #e4e4e4;;
}

.form-btn + .form-btn {
    margin-top: 10px;
}

.form-btn img {
    /* vertical-align: middle;
    display: inline-block; */

    margin-right: 6px;
    /* margin-top: -2px; */
}

.form-btn--submit {
    background: #FFCF26;
    border: none;
    color: #000000;
}

.form-btn--submit:hover {
    background: #fde17c;
} 

/* Button filter */

.toggle-sidebar {
    display: block;
    position: absolute;
    right: 15px;
    top: 7px;
    width: 45px;
    height: 45px;
    background-color: rgb(20, 50, 185);
    border: none;
    padding: 0;
}

.menu-icon-wrapper {
    /* width: 30px;
    height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
}
.menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: #FFFFFF;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
 
.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}