* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;

}

.row {
    display: flex;
    justify-content: space-between;
}
 
.main {
    width: 870px;
}
 
.sidebar {
    width: 270px;
}

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards-holder > .card-link {
    margin-bottom: 30px;
}

/* card*/

a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
a.card-link:hover{
    opacity: 0.8;
    transform: translateY(-5px);
}

.card {
    position: relative;
    width: 270px;
    background-color: white;
}

.card__badges {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    display: flex;

}
.card__badges > * + * {
   margin-left: 10px;
}
.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    background: #e0dfdac4;
    border-radius: 4px;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}

.card__badge--class {
    background: #FFCF26;
}

.card__bage--credit {
    background: #11BE75;
    color: #FFFFFF;
}


.card__content {
    padding: 16px 15px 20px;
}

.card__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}

.card__term {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
}
.card__metro {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    color: #000000;
} 

.card__metro::before {
    margin-right: 10px;
    content: "";
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('/img/icons/Vector.svg');
    background-repeat: no-repeat;
    background-size: initial;
}
.card__addres {
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}

/* Button more */
.btn-more {
    width: 100%;
    height: 80px;
 

    background-color: #E5E5E5;
    border-radius: 4px;
    border: none;

    font-size: 18px;
    line-height: 21px;
    color: #4290c9;

    cursor: pointer;
    transition: background-color 0.2s ease-in;

}
.btn-more:hover {
    background-color: hsl(0, 5%, 82%);
}
.btn-more img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}

/* Sidebar */

.widget {

}
.widget__title{
    position: relative;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;
}
.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    /* background-color: red; */
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./../img/icons/chevron-up.svg');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;

}
.widget__body{

}
/* Locations buttons group */

.location {
}
.location__row {
    display: flex;
}

.location__row:first-child{
    overflow: hidden;
    border-radius: 4px 4px 0 0 ;
    border: 1px solid #D6D6D6;
}
.location__row:last-child{
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    border: 1px solid #D6D6D6;
    border-top: none;
} 

.location__btn {
    flex-grow: 1;
    font-family: inherit;
    height: 50px;
    padding: 0 15px;
    
    background-color: transparent;
    border: none;

    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3C3C3C;

    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.location__btn:hover{
    background-color: #faf1d2;
}

.location__btn--active {
    background-color: #FFCF26;
}